In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=dede60de598a10c53014bc279f8c5988377d2564ff2b73b4d7a2eebd0c0f70c5
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [6]:
#Importing necessary libraries
import findspark
findspark.init()
findspark.find()
from pyspark.sql import DataFrame, SparkSession
from pyspark import SparkFiles

In [4]:
#Creating spark session
spark = SparkSession \
       .builder \
       .appName("IoT Analysis") \
       .getOrCreate()

spark

In [12]:
#Read the data into a Dataframe.
url='https://raw.githubusercontent.com/smaddula82/Demo/master/iot_devices.json'
spark.sparkContext.addFile(url)
df = spark.read.json(SparkFiles.get("iot_devices.json"))

In [13]:
#Convert the Dataframe into a temporary view called iot.
df.createOrReplaceTempView("iot")

In [14]:
#selecting the data from iot view
spark.sql("select * from iot").show(5, False)

+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name          |humidity|ip           |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj |51      |68.161.225.1 |38.0    |green |-97.0    |Celsius|34  |1458444054093|
|7            |1473     |NO  |NOR |Norway       |2        |sensor-pad-2n2Pea    |70      |213.161.254.1|62.47   |red   |6.15     |Celsius|11  |1458444054119|
|2            |1556     |IT  |ITA |Italy        |3        |device-mac-36TWSKiT  |44      |88.36.5.1    |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|6            |1080     |US  |USA |United States|4        |sensor-pad-4mzWkz    |32      |66.39.173.154|44.06   |yellow|-121.32  |Celsius|28  |1458444054121|
|4            |931      |PH  |PHL |Philippines  |5        |therm-stick-5gimpUrBB|62      |203.82.41.9  |14.58   |green |120.97   |Celsius|25  |1458444054122|
+-------------+---------+----+----+-------------+---------+---------------------+--------+-------------+--------+------+---------+-------+----+-------------+
only showing top 5 rows

In [15]:
#Count how many devices are there from each country and display the output.
spark.sql("select count(distinct device_id) as device_id,cca3 from iot group by cca3 order by device_id desc").show()

+---------+----+
|device_id|cca3|
+---------+----+
|    70405| USA|
|    14455| CHN|
|    12100| JPN|
|    11879| KOR|
|     7942| DEU|
|     6486| GBR|
|     6041| CAN|
|     5989| RUS|
|     5305| FRA|
|     3224| BRA|
|     3119| AUS|
|     2915| ITA|
|     2880| SWE|
|     2744| POL|
|     2488| NLD|
|     2310| ESP|
|     2128| TWN|
|     1867| IND|
|     1507| CZE|
|     1487| NOR|
+---------+----+
only showing top 20 rows

In [16]:
#Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.
spark.sql("select cca3, c02_level from iot where c02_level > 1400 order by c02_level desc").show()

+----+---------+
|cca3|c02_level|
+----+---------+
| BGR|     1599|
| USA|     1599|
| EGY|     1599|
| TWN|     1599|
| DEU|     1599|
| DEU|     1599|
| CAN|     1599|
| JPN|     1599|
| DEU|     1599|
| BGR|     1599|
| ARG|     1599|
| GBR|     1599|
| USA|     1599|
| USA|     1599|
| USA|     1599|
| CHN|     1599|
| KOR|     1599|
| USA|     1599|
| NOR|     1599|
| POL|     1599|
+----+---------+
only showing top 20 rows

In [17]:
#Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).
spark.sql("select cca3, count(distinct device_id) as device_id from iot where lcd == 'red' group by cca3 order by device_id desc").show()

+----+---------+
|cca3|device_id|
+----+---------+
| USA|    17489|
| CHN|     3616|
| KOR|     2942|
| JPN|     2935|
| DEU|     1966|
| GBR|     1660|
| CAN|     1564|
| RUS|     1508|
| FRA|     1353|
| BRA|      856|
| AUS|      769|
| SWE|      724|
| ITA|      713|
| POL|      664|
| NLD|      646|
| ESP|      586|
| TWN|      542|
| IND|      446|
| NOR|      399|
| UKR|      373|
+----+---------+
only showing top 20 rows

In [18]:
#find out all devices in countries whose batteries need replacements.Assuming battery level 0 means need replacement
spark.sql("select cca3, count(distinct device_id) as device_id from iot where battery_level == 0 group by cca3 order by device_id desc").show()

+----+---------+
|cca3|device_id|
+----+---------+
| USA|     7043|
| CHN|     1415|
| KOR|     1217|
| JPN|     1210|
| DEU|      760|
| GBR|      650|
| CAN|      612|
| RUS|      600|
| FRA|      582|
| BRA|      374|
| AUS|      322|
| SWE|      293|
| ITA|      287|
| POL|      278|
| NLD|      251|
| ESP|      223|
| TWN|      207|
| IND|      189|
| UKR|      149|
| HKG|      149|
+----+---------+
only showing top 20 rows